.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1c;
  color: #ffffff;
}

.content {
  background-color: rgb(48, 48, 48);
  padding: 1rem;
  border-radius: 2rem;
  border: 2px solid #696969;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  max-width: 480px;
}

.left h1 {
  font-size: 40px;
  margin-bottom: 32px;
  color: #ff9d00;
}

.left p {
  font-size: 18px;
  margin-bottom: 32px;
  color: #cccccc;
}

.actions {
  display: flex;
  margin-top: 5rem;
  gap: 16px;
}

/* Botão principal */
.primaryBtn {
  background-color: #ff9d00;
  color: #1c1c1c;
  padding: 14px 28px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: background 0.2s ease;
}

.primaryBtn:hover {
  background-color: #e68900;
}

/* Botão secundário */
.secondaryBtn {
  background-color: transparent;
  border: 2px solid #ff9d00;
  color: #ff9d00;
  padding: 14px 28px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.2s ease;
}

.secondaryBtn:hover {
  background-color: #ff9d00;
  color: #1c1c1c;
}

.right{
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgHome{
  object-fit: cover;
  border-radius: 16px;
}